.cpcache
.clj-kondo
# explicitly re-includes that file
!.clj-kondo/config.edn
.lsp
!.lsp/config.edn
.nrepl-port
.calva
.data
dev/bars.log
dev/quotes.log
dev/classes
*.ddb
*.wal
dev/binaries
.eastwood
binaries
classes