.cpcache
.clj-kondo/**
!.clj-kondo/
!.clj-kondo/config.edn
.lsp/**
!.lsp/
!.lsp/config.edn
.nrepl-port
.calva
.data
dev/bars.log
dev/quotes.log
dev/classes
*.ddb
*.wal
dev/binaries
.eastwood
binaries
classes
dev/.clj-kondo/
dev/.lsp/
dev/duck-perf/
dev/*.log